<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:replace="~{layout :: layout(~{::main})}">
        <main>
            <h2>Hồ sơ sinh viên (CV)</h2>
            <p><strong>Họ và tên:</strong> Nguyễn Việt Hoàng</p>
            <p><strong>Mã SV:</strong> 65131121</p>
            <p><strong>Mục tiêu:</strong> Trở thành Software Engineer chuyên nghiệp.</p>
            <p><strong>Dự án nổi bật:</strong> Website quản lý bán hàng</p>
        </main>
    </div>
</body>
</html>