<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:replace="~{layout :: layout(~{::main})}">
        <main>
            <h2>Danh sách Pages</h2>
            <table border="1" width="100%" cellpadding="5">
                <tr>
                    <th>id</th>
                    <th>Pagename</th>
                    <th>parentPageId</th>
                    <th>Hành động</th>
                </tr>
                <tr th:each="page : ${pages}">
                    <td th:text="${page.id}"></td>
                    <td th:text="${page.pageName}"></td>
                    <td th:text="${page.parentPageId}"></td>
                    <td>
                        <a th:href="@{'/page/view/' + ${page.id}}">[view]</a>
                        <a th:href="@{'/page/edit/' + ${page.id}}">[edit]</a>
                        <a th:href="@{'/page/delete/' + ${page.id}}" onclick="return confirm('Bạn có chắc muốn xóa?')">[delete]</a>
                    </td>
                </tr>
            </table>
        </main>
    </div>
</body>
</html>